<!DOCTYPE html>
<html lang="en" ng-app="DM" class="ng-scope">
<head>
	<meta charset="UTF-8">
	<title>DM</title>
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="/public/css/DM.css">
</head>
<body layout="column" md-theme="default" ng-controller="DMCtrl" ng-cloak>
	<header>
		<h1>DocumentManager</h1>
		<h2>
			root:{{user.basepath}}
		</h2>
		<md-button class="md-fab md-mini setup-root" aria-label="setup-root" ng-click="showEditPath=true">
		        <md-tooltip md-direction="left">
			  				设置根目录
			  	</md-tooltip>
		        <span class="glyphicon glyphicon-cog"></span>
		</md-button>
		<div  class="path-input" ng-show="showEditPath">
  			<md-input-container >
		      	<input ng-model="newBasePath" type="text" placeholder="" ng-required="true">
		    </md-input-container>
	    </div>
	    <div class="edit-path" ng-show="showEditPath">
			<span class="glyphicon glyphicon-ok" ng-click="changeBasePath()"></span>
			<span class="glyphicon glyphicon-remove" ng-click="showEditPath=false;newBasePath=null"></span>
		</div>
	</header>

	<div layout="row" id="main-panel" flex="82">
  		<div class="all-categories">
  			<ul>
  				<li ng-repeat="cate in categories">
	  				<md-button href="" ng-click="cateChange($index)" ng-class="{true:'active',false:'test'}[$index == cateItem]">
	  					<span class="glyphicon {{cate.style}}"></span>
	  					<span >{{cate.content}}</span>
	  				</md-button>
  				</li>
  			</ul>
  	 	</div>
	  	<div class="all-files">
		  	<div class="new-file" ng-init="show=false" ng-click="show=true">
		  		<div>
			  		<md-button class="md-fab md-mini new-file" aria-label="newfile" ng-click="newFileEdit=true" >
			  			<md-tooltip md-direction="right">
			  				新建文件夹
			  			</md-tooltip>
		            	<span class="glyphicon glyphicon-plus"></span>
		        	</md-button>
		        	<md-button class="md-fab md-mini upload-file" aria-label="upload-file" ng-click="">
		        		<md-tooltip md-direction="right">
			  				上传文件
			  			</md-tooltip>
		                <span class="glyphicon glyphicon-upload"></span>
		               <div class="upload-file-input" ngf-select ngf-change="upload($files)" ngf-multiple="true"></div>
		        	</md-button>
		        	<div ng-show="newFileEdit" class="new-file-edit">
			  			<md-input-container >
					      	<input ng-model="user.filename" type="text" placeholder="文件夹名" ng-required="true" focus-me="show">
					    </md-input-container>
		        		<div class="file-edit-name">
							<span class="glyphicon glyphicon-ok" ng-click="addNewFile()"></span>
	    					<span class="glyphicon glyphicon-remove" ng-click="newFileEdit=false;user.filename=null"></span>
	    				</div>
	        		</div>
	        	</div>
	        </div>
	        <md-divider></md-divider>
	  		<div class="currentDir">
	  			<span ng-repeat="stack in fileStack" ng-click="changeDir($index)">{{stack}}</span>
	  		</div>
	  		<md-divider></md-divider>
	  		<div class="file-details">
	  			<div class="file-name">
	  				<md-checkbox ng-model="user.selectAllBox" ng-click="changeSelect()">文件名</md-checkbox>
	  				<md-menu>
          				<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
            				操作
          				</md-button>
          			<md-menu-content width="2">
	            		<md-menu-item>
	              			<md-button ng-click="batchDelete($event)"> 
	              				<span md-menu-align-target>删除</span> 
	              			</md-button>
	            		</md-menu-item>
	            		<md-menu-item>
	              			<md-button> 
	              				<span md-menu-align-target>移动</span> 
	              			</md-button>
	            		</md-menu-item>
	            		<md-menu-item>
	              			<md-button> 
	              				<span md-menu-align-target>复制</span> 
	              			</md-button>
	            		</md-menu-item>
          			</md-menu-content>
       			 	</md-menu>
	  			</div>
	  			<div class="file-size">大小</div>
	  			<div class="file-date">修改日期</div>
	  		</div>
	  		<md-divider></md-divider>
	  		<div class="files-items">
	  			<div ng-repeat="file in allFiles" class="file-item" ng-mouseenter="show = $index" ng-mouseleave="show=null" ng-init="show=null;" ng-click="fileChange($index)">
					<div class="file" ng-if="$index !== renameIndex">
						<md-checkbox ng-model="file.selected" >
							<span class="glyphicon {{file.type | showGlyphicon}}"></span>
							<span ng-click="nextDir(file.path, file.filename, file.type, true)">{{ file.filename }}</span>
						</md-checkbox>
						<div class="file-remove" ng-show="$index == show">
							<span class="glyphicon glyphicon-pencil" ng-click="showRenameInput($index)"></span>
		    				<span class="glyphicon glyphicon-remove" ng-click="showCustomToast($event, $index)"></span>
		    			</div>
					</div>
					<div class="file" ng-if="$index === renameIndex">
							<md-checkbox ng-model="file.selected" >
								<span class="glyphicon glyphicon-folder-close"></span>
							</md-checkbox>
							<md-input-container md-no-float>
						    	<input ng-model="file.filename" type="text" placeholder="文件夹名">
							</md-input-container>
							<span class="glyphicon glyphicon-ok" ng-click="fileRename();renameIndex = null"></span>
		    				<span class="glyphicon glyphicon-remove" ng-click="cancelRename()"></span>
					</div>
					<div class="file-size">
						{{file.size}}
					</div>
					<div class="file-date">
						{{file.mtime | date: 'yyyy-MM-dd HH:mm'}}
					</div>
	    			<md-divider></md-divider>
		    	</div>
	  		</div>
	  	</div>
	</div>

	<footer></footer>
	<!---->
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="/node_modules/angular-material/angular-material.min.js"></script>
	<script src="/node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<script src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script src="/public/js/services/DM.model.js"></script>
	<script src="/public/js/utils/util.js"></script>
	<script src="/public/js/controllers/app.js"></script>
</body>
</html>