/**
 * 主样式
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
}
ul {
  list-style: none;
  -webkit-padding-start: 0;
}
button,
li {
  padding: 0;
  position: relative;
}
header {
  background-color: #3949ab;
  font-size: 1em;
  height: 6em;
  color: #fff;
  padding-left: 1em;
}
header h1,
header h2 {
  font-size: 2.5em;
  display: inline-block;
  font: 2.5em RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}
header h2 {
  font-size: 1.5em;
  margin-left: .5em;
}
footer {
  align-self: flex-end;
}
:focus {
  outline: none;
}
/** 图标字体 */
.glyphicon {
  font-family: 'Glyphicons Halflings';
  font-weight: 400;
  cursor: pointer;
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-plus:before {
  color: #fff;
  content: "\2b";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-cog:before {
  content: "\e019";
}
/** 取消默认的样式 */
.setup-root {
  position: absolute;
  top: 1em;
  right: 3em;
}
.setup-root .glyphicon-cog {
  color: #fff;
}
/** 路径编辑框 */
.path-input {
  display: inline-block;
  position: absolute;
  font-size: 1em;
  width: 160px;
  height: 20px;
  top: 2em;
  right: 14em;
}
.path-input md-input-container > input {
  border-color: #fff ;
  color: #fff;
}
.edit-path {
  position: absolute;
  top: 3.5em;
  right: 10em;
}
.path-input label {
  font-size: .5em;
  color: #fff;
}
/** 主面板 */
#main-panel {
  height: 100%;
}
/** 所有任务分类 */
.all-categories,
.all-files {
  position: relative;
  min-width: 226px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.all-categories > div {
  position: relative;
}
.all-categories > div > * {
  display: inline-block;
}
md-input-container > span {
  top: 17px;
  display: inline-block;
  position: absolute;
}
md-input-container > input {
  display: inline-block;
  margin-left: 1.5em;
}
md-input-container .md-placeholder {
  margin-left: 1.5em;
  top: -12px;
}
a.md-button {
  display: block;
  text-align: left;
  padding-left: 2em;
  margin: 0;
  border-radius: 0;
}
.all-files .md-label {
  border: none;
}
/** 所有文件 */
.all-files,
.new-file {
  width: 100%;
}
.new-file {
  position: relative;
}
.new-file input {
  margin-right: 4em;
}
button.new-file {
  margin-left: 1.5em;
}
button.upload-file {
  position: relative;
  margin-left: 6em;
}
button.upload-file .glyphicon {
  position: absolute;
  top: 0;
  left: .9em;
  color: #fff;
}
.upload-file-input {
  opacity: 0;
  width: 2em;
  height: 2em;
}
button.upload-file input:hover {
  cursor: pointer;
}
/** 当前目录栏显示 */
.currentDir {
  height: 2em;
  line-height: 2em;
  color: #03a9f4;
}
.currentDir span {
  display: inline-block;
}
.currentDir span:after {
  margin-left: .2em;
  margin-right: .2em;
  content: '>';
}
.currentDir span:first-child {
  margin-left: 2em;
}
.currentDir span:last-child {
  color: #000;
}
.currentDir span:last-child:after {
  content: '';
}
.currentDir span:hover {
  cursor: pointer;
}
.new-file-edit md-input-container {
  display: inline-block;
  width: 25%;
}
.new-file-edit .file-edit-name {
  display: inline-block;
  position: absolute;
  top: 5.6em;
  left: 14em;
}
.file-edit-name > span {
  position: absolute;
  top: -3px;
}
.file-edit-name > .glyphicon-remove {
  margin-left: 2em;
}
.file .glyphicon-ok {
  margin-left: 1.5em;
}
.file-details > * {
  display: inline-block;
}
.file-name {
  width: 50%;
}
.file-name > md-checkbox {
  display: inline-block;
  margin-left: 2em;
}
.file-name md-select {
  display: inline-block;
  padding: 0;
  margin-left: 10%;
}
.file-size {
  width: 20%;
}
.files-items {
  height: 500px;
  overflow: auto;
}
.file-item {
  position: relative;
}
.file-item > div {
  display: inline-block;
}
md-checkbox .md-label {
  white-space: nowrap;
}
.file {
  width: 50%;
}
.file > md-checkbox {
  width: 20%;
  margin-left: 2em;
  display: inline-block;
}
.file > md-checkbox .glyphicon {
  color: orange;
}
.file-rename-input,
.file-rename-input > div {
  display: inline-block;
}
.file-rename-input {
  margin-left: -16%;
}
.file > md-input-container {
  display: inline-block;
  margin-left: -16%;
}
.file-edit,
.file-remove {
  position: absolute;
  padding-left: 1em;
  top: 1em;
  left: 36%;
}
/** 点击后的样式 */
.active {
  color: #03a9f4;
}
/** 弹出框 */
md-toast.md-left {
  margin-left: 50%;
  left: -10em;
}
